@model string
<div class="label">
    <label for="@Model">@Model</label>
</div>
<div class="field">
    <input name="@Model" id="@Model" type="text" value="" />
    <br />
    <div class="error">&nbsp;</div>
</div>
